html{
	font-size: 1em;
	font-family: MuseoSans-Med, Helvetica, Arial, sans-serif;
}
@font-face{
	font-family: Regular;
	src: url(fonts/MuseoSans_500_Italic.otf);

}
body{
	height: 100%;
	margin: 0em;
}

/*Top navbar*/

header{
	margin: 0.625em 1.875em;
	height: 3.125em;
	border-bottom: solid 0.0625em;
	border-color:  #a6c4c4;
}
header img{
	display: block;
  	max-width: 100%;
    height: 4.125em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
	right: 0;
}
body nav{

	margin: 0em;
}
header nav button{
	position: absolute;
	bottom: 1em;
	color: #971780;
	background-color: white;
	border: none;
	font-size: 1.2em;
}
.top{

	position: relative;
}
#myBtn{

	right: 0em;
}
#profile{

	right: 2em;
}

/*pop zoekbalk*/

.modal form{

	text-align: left;
	display: inline-block;
	width: 80%
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background: rgba(255,255,255,0.95);
  text-align: center;
}
.pop-up-search{
	padding: 2vmin 8vmin 2vmin 2vmin;
    font-size: 1.25em;
    height: 3.125em;
    padding-left: 3.125em;
    margin: 0 auto;
    border: 0.0625em solid #7c7d7d;
    border-radius: 0.1875em;
    background: none;
    box-shadow: 0 0 0.625em transparent;
    width: 80%;
	-moz-box-shadow: inset 0 0 0.25em rgba(0,0,0,0.2); 
	-webkit-box-shadow: inset 0 0 0.25em rgba(0, 0, 0, 0.2); 
	box-shadow: inner 0 0 0.25em rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 0.1875em; 
	-moz-border-radius: 0.1875em; 
	border-radius: 0.1875em;
}
h4{
	margin: 50px 0 0 0;
    font-size: 4em;
    font-weight: 300;
    text-align: center;
    color: #99258d;
}

input:focus {

	outline: none !important;
    border-color: #99258d;
    box-shadow: 0 0 0.625em #99258d;
}
input::-webkit-search-cancel-button {

  color: #99258d;
}
.search-button{
	height: 2.5em;
    margin: 0em!important;
    padding: 0 1em;
    font-weight: 700;
    background: #99258d;
    color: #fff;
    text-transform: uppercase;
    border: 0.0625em solid #99258d;
    border-radius: 0.1875em;
    text-transform: uppercase;
    font-size: 1.25em;
    width: 19%;
}
.close-popup{
	margin-top: -2.5em;
    margin-right: -2em;
    float: right;
    color: #971780;
    background: rgba(255,255,255,0.95);
    border: none;
    font-size: 1.2em;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.close-popup:hover,
.close-pop-up:focus {
	font-size: 2.5em;
}
form{
	text-align: left;
}

/*banner*/
picture img{

	margin-top: 1.25em; 
	max-width: 100%;
	position: absolute;
}

/*content pagina */

section{
	padding: 0em 1.875em;
	margin-top: 1.3125em;
	z-index: 0;
}

fieldset{
	background-color: #FAFAFA;
	border-radius: 0.0625em;
	border-color: hsl(0, 0%, 93%, 35%);
	margin: 0em;
	padding: 0em;
	max-width: 48%;
	display: block;
	position: relative;
	margin-top: 3.125em;
}
fieldset{

	transition: all ease 0.6s;
}
.fieldset-big{

	max-height: 19.4375em;

}
h2{
	padding: 0.9375em 0.625em 0.9375em 0.625em;
	background-color: #6d105c;
	color: #fff;
    text-transform: uppercase;
    margin: 0.4286875em 0.4286875em 0.4286875em 0.4286875em;
    font-size: 1em;
    cursor: pointer;
}
h2 i{

	margin-right: 0.625em;
}
h2 i:nth-child(2){
	float: right;
	margin-right: 0em;
}

fieldset form{

	margin-top: 0.6171875em;
}

fieldset form ul{

	display: block;
	width: 100%;
	padding-left: 1.0536875em;
}

fieldset ul li{
	width: 100%;
	display: inline;
	border-radius: 1em;
	padding: 0.375em 0.625em 0.375em 0em;
	color: #6d105c;
}

li input[type=radio]{
	visibility: hidden;
	position: absolute;
	cursor: pointer;
}

li input[type=radio]:checked + label{
	background-color: #F2C532;
	color: black;
}

select{
	margin-bottom: 0.625em;
	margin-left: 1.0536875em;
	height: 2.375em;
	padding-left: 0.625em;
	border: 0.0625em solid rgba(234, 234, 234, 1);
	border-radius: 0.125em;
	width: 93%;
	background: white;
}
fieldset input{
	text-transform: uppercase;
	background-color: gray;
	border: 0.0625em solid gray;
	padding: 0.5em 0.625em 0.5em 0.9375em;
	color: white;
	float: right;
	margin-right: 0.75em;
	margin-bottom: 0.625em;
}
article{
	max-width: 50%;
	display: block;
	border: 0.0625em solid #a6c4c4;
	position: relative;
	margin: 0.625em 0em 0.75em 0em;
}

.fa-stack{

	margin-bottom: 0.75em;
}
.fa-stack-1x{

	color: white;
}
.fa-stack-1x, .fa-stack-2x{

	font-size: 1em;
}
.fa-3x {

    font-size: 1em !important;
}
span .fa-download{
	color: gray;
	font-size: 2em !important;
}

article img{
	width: 100%;
	height: 10.9375em;
	border-bottom: 0.0625em solid #a6c4c4;
}
.story-text{
	margin: 0em 0.9375em;
}
.overlay{
	position: absolute;
	text-transform: uppercase;
    font-size: 0.8em;
    background: #99258d;
    color: white;
    margin: 0em;
    width: 	6em;
    height: 1.0625em;
    text-align: center;
    bottom: 8.1em;
}

.timelength{

	color: #712166;
	float: right;
	border-bottom: 0.3125em solid #FFDF5D;
}
h3{
	margin: 0 0 0 0;
    font-size: 2em;
    font-weight: 100;
    color: #020303;
}
article p{
	margin: 0 0 1em 0;
	color: #707070;
}
div nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 0.0625em solid #971780;
  z-index: 1;
}

div nav ul li {
	width: 24%;
  	display: inline-block;
  	border-right: 0.0625em solid #971780;
}
div nav ul li:last-child {

	 border-right: none;
}

div nav ul li a {
  display: block;
  color: #A6C4C4;
  text-align: center;
  padding: 1.25em 1.25em;
  text-decoration: none;
}

div nav ul li a:hover:not(.active) {

  color: #971780;
}

.last-item{

	width: 23%;
}

.active {

  color: #971780;
}

footer{
	height: 4.0625em;
}

.flex-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.flex-container > article{

	margin: 0.1875em;
}

/*verhalen pagina*/

.verhaal{
	height: unset;
}
/*zoek pagina*/

.zoekbalk{
    height: 2.375em;
    padding-left: 0.625em;
    border: 0.0625em solid rgba(234, 234, 234, 1);
    border-radius: 0.125em;
    width: 85%;
    float: left;
    background: white;
    color: gray;
    text-transform: unset;
    }
.zoekformulier{
	margin: 0 0.625em 0.9375em 0.625em;
}
.zoekknop{
	background-color: transparent;
    width: 10%;
    color: purple;
    height: 2.375em;
    border: none;
}


@media only screen and (max-width: 24.375em) {
	div nav ul li {
	  	display: inline-block;
	  	border-right: 0.0625em solid #971780;
	}
}
@media only screen and (min-width: 48em) {
.bottom {
	display: none;
}
fieldset{
	margin-bottom: 1.25em;
}
article{
	display: inline-block;
}
}
@media only screen and (max-width: 47.9375em) {
	.top{
		display: none;
	}
	.dropdown-content{
		transition: all ease 0.6s;
	}

	.show{	
	}

	.left {
	    margin-right: 0em;
	}
	article{
	  	max-width: 100%;
	  	min-width: 99%;
	  }
	fieldset {
		overflow: hidden;
	    max-width: 100%;
	     max-height: 3.875em;

	}
	picture img{
		display: none;
	}
}

@media only screen and (min-width: 68.75em) {

	.flex-container{
		margin-top: 2.5em;
	}

}
@media only screen and (min-width: 57.6875em) {

	picture img{
		height: 30%;
	}
	.flex-container{
		margin-top: 3.75em;
	}


}
@media only screen and (min-width: 85.375em) {

	picture img{
		height: 56%;
	}
	article{
		min-width: 32%;
	}
	.flex-container{
		margin-top: 8.4375em;
	}
	fieldset{
		    max-width: 35%;
	}

}
