header{
	margin: 0px 1.875em;
	height: 3.125em;
	border-bottom: solid 1px;
	border-color:  #a6c4c4;
}
header img{
	display: block;
  	max-width: 100%;
    height: 66px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
	right: 0;

}
body{
	height: 100%;
	margin: 0px;
}
section{
	padding: 0px 1.875em;
	margin-top: 1.3125em;
}
fieldset{
	background-color: #FAFAFA;
	border-radius: 0.0625em;
	border-color: hsl(0, 0%, 93%, 35%);
	margin: 0px;
	padding: 0px;
	max-width: 33%;
	display: block;
}
h2{
	padding: 0.9375em 0.625em 0.9375em 0.625em;
	background-color: #6d105c;
	color: #fff;
    text-transform: uppercase;
    margin: 0.4286875em 0.4286875em 0em 0.4286875em;
    font-size: 1em;

}
h2 i{
	margin-right: 0.625em;
}
h2 i:nth-child(2){
	float: right;
	margin-right: 0px;
}
fieldset form{
	margin-top: 0.6171875em;
}
fieldset form ul{
	display: block;
	width: 100%;
	padding-left: 1.0536875em;
}
fieldset ul li{
	width: 100%;
	display: inline;
	border-radius: 1em;
	padding: 6px 10px 6px 0px;
	color: #6d105c;

}
form{
	text-align: left;
}
input[type=radio]{
	visibility: hidden;
	position: absolute;
	cursor: pointer;
}
input[type=radio]:checked + label{
	background-color: #F2C532;
	color: black;
}
select{
	margin-bottom: 0.625em;
	margin-left: 1.0536875em;
	padding-right: 14.1338125em;
	height: 2.375em;
	padding-left: 10px;
	border: 1px solid rgba(234, 234, 234, 1);
	border-radius: 2px;
	width: 93%;
}
input{
	text-transform: uppercase;
	background-color: gray;
	border: 1px solid gray;
	padding: 0.5em 0.625em 0.5em 0.9375em;
	color: white;
	float: right;
	margin-right: 0.75em;
	margin-bottom: 0.625em;
}
article{
	max-width: 33%;
	display: block;
	border: 0.0625em solid #a6c4c4;
	position: relative;
	margin: 20px 0px 12px 0px;
}
article img{
	width: 100%;
	height: 10.9375em;
	border-bottom: 0.0625em solid #a6c4c4;
}
.story-text{
	margin: 0em 0.9375em;
}
.overlay{
	position: absolute;
	bottom: 0.0625em;
	text-transform: uppercase;
    font-size: 0.8em;
    background: #99258d;
    color: white;
    margin: 0px;
    width: 	6em;
    height: 1.0625em;
    text-align: center;
    bottom: 6.3em;
}
.timelength{
	color: #712166;
	float: right;
	border-bottom: 0.3125em solid #FFDF5D;
}
h3{
	margin: 0 0 0 0;
    font-size: 2.5em;
    font-weight: 100;
    color: #020303;
}
article p{
	margin: 0 0 0.625em 0;
	color: #707070;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 0.0625em solid #971780;
}

nav ul li {
	width: 24%;
  	display: inline-block;
  	border-right: 0.0625em solid #971780;
}
nav ul li:last-child {
	 border-right: none;
}

nav ul li a {
  display: block;
  color: #A6C4C4;
  text-align: center;
  padding: 1.25em 1.25em;
  text-decoration: none;
}

nav ul li a:hover:not(.active) {
  color: #971780;
}

.active {
  color: #971780;
}
body nav{
	margin: 0em;
}
footer{
	height: 58px;
}


@media only screen and (max-width: 980px) {
  fieldset{
    max-width: 100%;
  }
  article{
  	max-width: 100%;
  }
}